.course-detail-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.course-detail-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.course-detail-container h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.course-detail-description {
  color: #666;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.course-keypoints {
  list-style-type: disc;
  margin-left: 20px;
  color: #666;
  margin-bottom: 20px;
  text-align: left;
}

.course-keypoints li {
  margin-bottom: 10px;
}

.course-quizzes {
  color: #666;
  font-size: 1rem;
  margin-bottom: 20px;
}

.view-subjects-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.view-subjects-button:hover {
  background-color: #0056b3;
}